/* 这里下载字体只是为了学习, Noto Sans SC和默认的sans并没有太大区别. */
/* sans-serif往往作为font-family中的最后一个选项,其本身不表示某种
具体的字体,而是由系统决定.*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@100..900&family=Noto+Serif+SC:wght@200..900&display=swap");
@import "tailwindcss" theme(static);
@import "@nuxt/ui";

@theme {
  --font-sans: "Noto Sans SC", sans-serif;
}
.sm\:grid-cols-2 {
  @media (width >= 40rem /* 640px */) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

.md\:grid-cols-3 {
  @media (width >= 48rem /* 768px */) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

.lg\:grid-cols-4 {
  @media (width >= 64rem /* 1024px */) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

.markdown {
  color: rgb(210, 210, 210);
  /* font-size: 1rem; */
}
.markdown h1,
.markdown h2,
.markdown h3 {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.markdown :not(pre)  code {
  background-color: #333;
  /* color: bisque; */
  font-size: 1rem;
}

.markdown pre code {
  font-size: 0.8rem;
}

.shortcut-text {
  @apply text-xs text-(--ui-text-dimmed) border rounded-(--ui-radius) ml-2 mr-2 pb-0.5 pl-1 pr-1;
}
